<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Ember-Rails-Device</a>
      <div class="container nav-collapse">
        <ul class="nav pull-right">
          {{ partial "login" }}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container" style="margin-top:60px">
  <div class="row">
    <div id="ember-app-principal">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">menu lateral</li>
              <li {{bindAttr class='isHome'}} >{{#linkTo 'home'}} Home {{/linkTo}}</li>
              <li {{bindAttr class='isUsers'}} >{{#linkTo "users"}} Users {{/linkTo}}</li>
              <li {{bindAttr class='isAbout'}} >{{#linkTo "about"}} About {{/linkTo}}</li>
            </ul>
          </div>
        </div>
        <div class="span9">
          {{ outlet }}
        </div>
      </div>
  </div>
</div>




